
body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
	font-weight: bold;
}

.with-margins {
	width: 940px;
	margin: 0 auto;
}

.hide {
	display: none;
}

a {
	text-decoration: none;
	color: #3c7eb1;
}

a:visited {
	color: #6e3bb0;
}

form {

	div {
		margin: 10px auto;
	}

	input {
		border: 0;
		outline: 0;
		background-color: #eee;
		padding: 8px 16px;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		border-bottom: 4px solid #eee;
	}

	input:focus {
		border: 0;
		outline: 0;
		border-bottom: 4px solid #ddd;
		background-color: #f8f8f8;
	}

	input[type='submit'] {
		background-color: #60B385;
		color: white;
		border: 0;
		cursor: pointer;
	}

	input[type='submit']:hover {
		background-color: #398D5F;
	}

	label {
		display: inline-block;
		width: 200px;
		text-align: left;
	}
} // form
