
<header class='navigation with-margins'>
	<h1><img src='<%= asset_path 'logo-small.png' %>' /> <span>Corp</span>Connect</h1>

	<a href='#profile' class='profile-nav-button'>
		<span class='circular-image' style="background-image:url('<%= asset_path 'demo-user.jpg' %>');"></span>
		<%= current_user.name %>
	</a>
</header>
